<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @card.title %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @card.origin %>
</p>

<p>
  <strong>Posted at:</strong>
  <%= @card.posted_at %>
</p>

<p>
  <strong>User:</strong>
  <%= @card.user_id %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
