<!DOCTYPE html>
<html ng-app='Kaveri'>
<head>
  <title>Kaveri</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <%= render 'shared/header' %>
  </header>

  <div class='container'>
    <%= yield %>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular-resource.min.js"></script>
  <%= javascript_include_tag "application" %>
</body>
</html>
